.Main-div {
  border: 1px solid #00000033;
  width: 300px;
  height: 500px;
  font-family: Open Sans;
}
.carttotals {
  margin: 2rem;
  font-weight: bold;
  font-size: 18px;
  color: #222222;
}
.Subtotal {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0rem 2rem;
  padding-top: 1rem;
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  border-top: 1px solid #00000033;
}
.Tax {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0rem 2rem;
  padding-top: 1rem;
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  border-top: 1px solid #00000033;
}
.Total {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 10rem 2rem 1rem 2rem;
  padding-top: 1.5rem;
  font-size: 16px;
  color: #222222;
}

.checkout-button {
  color: #ffffff;
  background-color: #0163d2;
  font-size: 14px;
  height: 2rem;
  width: 15rem;
  margin: 1rem 2rem;
  bottom: 10%;
  border-color: #0163d2;
  border-radius: 5px;
  cursor: pointer;
}
