/* .addcart-div {
  margin: 5px 10px;
  border: 1px solid #0163d2;
  border-radius: 7px;
  width: 13rem;
  height: 2rem;
  background-color: #0163d2;
  display: flex;
  justify-content: center;
  opacity: 80%;
} */

.addtocart {
  align-items: center;
  margin: 5px 10px;
  border: 1px solid #0163d2;
  border-radius: 7px;
  width: 10rem;
  height: 2rem;
  background-color: #0163d2;
  justify-content: center;
  opacity: 80%;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
}
/* .addtocart {
  color: #ffffff;
  background-color: #0163d2;
  border: 0 solid #0163d2;
  cursor: pointer;
   align-items: center;
} */
